<div class="modal fade" id="scrape-done" tabindex="-1" role="dialog" aria-labelledby="scrapeDoneLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Scraping is done</h5>
            </div>
            <div class="modal-body">
                Added <span id="total-articles"></span> new articles
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="article-notes" tabindex="-1" role="dialog" aria-labelledby="articleNotesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for article: <span id="article-id"></span></h5>
            </div>
            {{!--<form method="POST" role="form">--}}
                <div class="modal-body">
                    <div class="cards"></div>
                    <div class="form-group">
                        <textarea class="form-control" id="note-text" name="text" rows="3" placeholder="New Note"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info save-note">Save Note</button>
                </div>
            {{!--</form>--}}
        </div>
    </div>
</div>